body{
text-align: center;
background-color: #f9f9f9;
}
button{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: red;
    font-size: 20px;
    font-family: monospace;
    margin-top: 50px;
    background-color: rgba(102, 225, 65, 0.795);
}
.tex{
    width: 185px;
    height: 25px;
    border: solid rgba(20, 6, 209, 0.267) 1px;
    border-radius: 20px;
}
img{
    margin-top: 100px;
    margin-left: -100px;
    
}
.phot{
position: absolute;
margin-top: -110px;
margin-left: -390px;
z-index: -1;
}
