body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: none;

}
.nav-el{
    
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;

}
select{
    border: none;
}
input{
    border-radius: 10px;
}
.search{
    width: 110px;
    height: 35px;
    margin-left: 10px;
    border: 1px solid rgb(194, 194, 194);;
    border-radius: 50px;
    
}
.jjj{
    margin-left: 10px;
    color: rgba(0,0,0,.5);
    
}
.content{
    width: 100%;
    height: 300px;
    background-color:#f2f4f5;
    text-align: center;
    padding-top: 10px;
    
}
button{
    background-color: #3fb618;
    padding: 10px;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: large;

}
.cards{
    height: 300px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    
    
    
    
}
.card-image{
    width: 300px;
    height: 190px;
    background-color: gray;
    border: 1px solid rgb(194, 194, 194);
   
    
    
}
h1{
    font-size: 45px;
}
.size{

font-size: 40px;
}
.cards :hover{
    box-shadow: black;
    color: #3fb618;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
    
}

button:hover {
    background-color:  rgb(27, 129, 27);
    cursor: pointer;
}
.polosa{
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(202, 201, 201)