.fs{
    font-size: 60px;
    }
    body{
        overflow-x: hidden;
    }
    .random{
        position: absolute;
        top: -260px;
        background-color: rgba(0, 0, 0, 0.041);
        left: -150px;
        z-index: -1;
        width: 2220px;
        height: 700px;
        transform: rotate(-15deg);
    
    }
    .btn1{
        padding: .8rem 2rem;
        background-color: #7952b3;
        margin-left: -30px;
    }
    .btn2{
        padding: .8rem 2rem;
    }
    .img{
        width: 130px;
        height: 100px;
        margin-top: 21px;
        margin-left: 20px;
    }
    .card{
        margin-top: 30px;
        border-radius: 5px;
        background-color: rgb(238, 238, 238);
        border: none;
    }
    .card-text{
        font-size: small;
        text-align: justify;
        margin-left: 30px;
    }
    