body{
    font-family: sans-serif;
}
nav{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > h1{
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}
.links > a{
    font-size: 20px;
    text-decoration: none;
    margin: 18px;
    color: black;
    


}
.links > a:hover{
    text-decoration: underline;
    color: gray;
}
.links > button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 17px;
}
.links > button:hover{
    background-color: rgb(167, 6, 6);
}
.square{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}
.square > span{
    margin-bottom: -2px;
}
.cointaner{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 5%;
    width: 75%;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.info{
    height: 100%;
    width: 50%;

}
.info > h1, .big-parag{
    font-size: 35px;
}
.info > button{
    background-color: red;
    color: white;
    border: none;
    padding: 11px 17px;
    margin-top: 20px;
}
.picture{
    width: 50%;
    height: 750px;
    background-image: url(/photo-94.jpg);
    background-size: cover;
}
.burger{
    display: none;

}
.burger > div{
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: black;
    


}

.text{
    text-align: center;
    margin-top: 100px;
}
@media(max-width:900px) {
    .cointaner {
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .burger{
        display: inline;
    }
    .info{
        width: 95%;
        margin-bottom: 30px;
    }
    .picture{
        width: 100%;
    }
}


